{% extends 'iot_devices/base.html' %}

{% include '_navbar.html'%}


{% block contenido %}
    <div class="container-dashboard">

        <div class="row mt-5 mb-4">
            <div class="col">

                <h1>Device list</h1>
            </div> 
        </div>

        <div class="row">
            <div class="col">

                <table class="table table-striped">

                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Nombre del dispositivo</th>
                            <th scope="col">Device</th>
                            <th scope="col">Localizado en:</th>
                            <th scope="col">Observaciones</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for item in all_devicess %}    
                            {% if item.added_by == request.user %} 
                                <tr>
                                    
                                    <td class="">{{item.name}} </td>
                                    <td class="">{{item.type}} </td>
                                    <td class="">{{item.placed}} </td>
                                    <td class=""> {{item.details}}</td>
                                    <td class="align-middle">
                                        <a href="device/{{ item.id }}" class="btn btn-primary">Ver</a>
                                        <a href="device/{{ item.id }}/edit" class="edit-custom btn btn-info">Editar</a>
                                        
                                        <button type="button" class="btn btn-danger m-2" data-bs-toggle="modal" data-bs-target="#borrar">
                                            Borrar
                                        </button>
                                        
                                        <div class="modal" id="borrar">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                            
                                                    <!-- Modal body -->
                                                    <div class="modal-body">
                                                        <p>¿Estas seguro que deseas borrar el dispositivo: <span style="color: red;">{{item.name}}</span> ?</p>
                                                    </div>
                                            
                                                    <!-- Modal footer -->
                                                    <div class="modal-footer">
                                                        <form method="post" action="device/{{ item.id }}/destroy ">
                                                            {% csrf_token %}
                                                            {% if redirect_field_value %}
                                                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                                                            {% endif %}
                                                            <button type="submit" class="btn btn-primary">BORRAR</button>
                                                        </form>
                                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                                                    </div>
                                            
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>

                </table>

            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                <a href="device/new" class="nav-style btn btn-outline-primary">New Device</a>
            </div>
        </div>
        
    </div>
{% endblock %}
